<nav class="flex justify-between px-20 py-10 shadow-xl items-center">
    <ul>
        <h1 class="bg-yellow-700 px-5 py-2 text-white rounded-md shadow-2xl font-bold text-4xl">Beer Me</h1>
    </ul>
    <ul class="flex gap-5 items-center">
        <li class="hover:underline hover:underline-offset-4"><a routerLink="/home">Home</a></li>
        <button class="bg-yellow-700 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration-300">Login</button>
        <button routerLink="/register" class="bg-slate-500 px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration-300">Sign Up</button>

        <!-- <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li> -->
    </ul>


</nav><br>
