
<mat-table [dataSource]="reviews">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let review"> {{review.beer}} </mat-cell>
    
   
  </ng-container>
 
  <!-- User Column -->
  <ng-container matColumnDef="abv">
    <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
    <mat-cell *matCellDef="let review"> {{review.user}} 

      
    </mat-cell>
  </ng-container>
   
  <!-- Style Column -->
  <ng-container matColumnDef="style">
    <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
    <mat-cell *matCellDef="let review"> {{review.rating}} </mat-cell>
  </ng-container>
  

  <!-- Review Column -->
  <ng-container matColumnDef="review">
    <mat-header-cell *matHeaderCellDef> Review </mat-header-cell>
    <mat-cell *matCellDef="let review">
      <br>
      <p>{{ review.comment }}</p>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['name', 'style', 'abv', 'review']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['name', 'style', 'abv', 'review']"></mat-row>
  
</mat-table>
