/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.body{

    @apply font-mono;
    padding-bottom: 60px;
}
.toast-success{

    @apply mb-20;
    @apply: absolute;
    @apply: bottom-0;
    
    @apply: left-10;
}
